@use "sass:math";

// IMPORTS ALL PAGES

@import "./utils/_variables";

@import "./base/_base";
@import "./base/_typography";

@import "./components/_buttons";

@import "./pages/_home";
@import "./pages/_restaurant";

@import "./base/_mediaqueries";


// ANIM PARAMETERS FOR MENU ITEMS

@keyframes menuItemApparition {
    0% {
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
