*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background: $colour-white;
}

section{
  padding: 2.5rem 1rem;
}

.content__wrapper{
  width: 100%;

  @media (min-width: $br-desktop) {
    width: 60%;
    margin: 0 auto;
  }
}

header{
  position: relative;

  h4 {
    box-shadow: $box-shadow;
    display: block;
    text-align: center;
    padding: .725rem 0;
  }

  .fa-arrow-left {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: $fs-l;
    color: transparentize($colour-primary, .4);

    &:hover{
      color: $colour-secondary;
    }
  }
}

.component{

  &--title {
    font-weight: $fw-bold;
    font-size: $fs-m;
    margin: 0 0 .325rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--desc {
    font-weight: $fw-light;
    font-size: $fs-s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &--price{
    font-weight: $fw-bold;
    font-size: $fs-xs;
    color: lighten($colour-primary, 30%);
  }

  &--hearticons{
    cursor: pointer;
    width: 2rem;
    position: relative;

    .heart-full{
      position: absolute;
      transform: scale(0);
      font-size: $fs-xl;
      background : linear-gradient(0, rgba(170,94,219, 1) 0%, rgba(232,114,218, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;

      &::before{
        transition: all .5s;
        transform: scale(0);
        opacity: 0;
      }
    }

    .heart-stroke{
      position: absolute;
      display: block;
      font-size: $fs-xl;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: $colour-primary;
    }

    &:hover{

      .heart-full{
        display: block;
        transform-origin: center 3px;
        transform: scale(1.01);
        opacity: 1;
      }

      .heart-full::before{
        display: block;
        transform-origin: center 3px;
        transform: scale(1.01);
        transition: all .5s;
        opacity: 1;
      }
    }
  }
}

footer{
  background: transparentize($colour-primary, .2);

  ul{
    list-style: none;
    padding: 1rem 2rem;

    li{
      text-align: left;
      color: $colour-white;
      padding: .25rem 0;

      a{
        color: $colour-white;
      }

      h4{
        font-size: $fs-m;
        font-weight: $fw-normal;
        text-align: left;
        padding: .325rem 0;
      }

      i{
        font-size: $fs-xs;
        margin: 0 0.325rem 0 0;
      }
    }
  }
}
