//COLORS VARIABLES

$colour-primary: rgba(0,0,0,1);
$colour-secondary: rgba(147,86,220,1);
$colour-white: rgba(255,255,255,1);
$colour-green: rgba(0,135,102,1);
$colour-light-green: rgba(153,226,208,1);

//BOX SHADOW

$box-shadow: 0 4px 5px -4px transparentize($colour-primary, .2);
$box-shadow-strong: 0 4px 8px -4px $colour-primary;

//FONT SIZES

$fs-xs: 0.875em;
$fs-s: 1em;
$fs-m: 1.125em;
$fs-l: 1.5em;
$fs-xl: 1.725em;

//FONT WEIGHTS

$fw-light: 200;
$fw-normal: 400;
$fw-bold: 700;

//BREAKPOINTS

$br-phone: 640px;
$br-tablet: 768px;
$br-desktop: 1024px;


$num-menu-items: 4;
$anim-dur: .8s;
$anim-delay: math.div($anim-dur, $num-menu-items);

@mixin gradient-main($property, $angle){
  #{$property}: linear-gradient($angle, rgba(170,94,219, 1) 0%, rgba(232,114,218, 1) 100%);
}

@mixin gradient-animation($transTime, $lightenPercent){
  background-size: 100%;
  background-image: linear-gradient(0, rgba(170,94,219, 1) 0%, rgba(232,114,218, 1) 100%);
  position: relative;
  z-index: 100;
  transition: all, .5s;

  &:hover {
    background-image: linear-gradient(0, lighten(rgba(170,94,219, 1), $lightenPercent) 0%, lighten(rgba(232,114,218, 1), $lightenPercent) 100%);
    transition: all, .5s;
  }
}

@keyframes loaderAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loaderAnimationSpiner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// ANIM PARAMETERS FOR MENU ITEMS

@keyframes menuItemApparition {
    0% {
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
